
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding: 0;
}



.topFixedBanner{
    background-image: url(../assets/Images/banner.jpg);
    min-height: 550px;
    background-attachment: fixed;
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
}

.topBannerOverlay{
    position: absolute;
    min-height: 550px;
    width: 100%;
    background: rgb(0, 0, 0, 0.7);
}
.topContent{
    margin-top: 10em;
    text-align: center;
    color: #FFF;
}
.topTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 48px;
}
.topSubtitle{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 22px;
}
.servicesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.serviceIcons{
    height: 120px;
    width: 120px;
}

.serviceCard{
    margin: 10px 5px;
    padding: 60px 30px;
    box-shadow: 0 0 8px 0 rgb(4,55,105,0.2);
    height: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.2s ease;
}
.serviceCard:hover{
    box-shadow: 0 0 16px 0 rgb(4,55,105,0.2);
}
.servicesTitle{
    color:#051b35;
    margin-top:1rem;
    font-size: 24px;
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
}
.serviceDescription{
    color: #858585;
    margin-top: 1rem;
    font-family: 'Raleway',sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.servicesMainTitle{
    color: #505050;
    margin-top: 4rem;
    margin-bottom: 3rem;
    font-family: 'Monserrat',sans-serif;
    font-size: 28px;
    font-weight: 700;
}
.bottomBorder{
    background-color: #505050 ;
    line-height: 23px;
    width: 85px;
    margin: -1.9rem auto 0;
    
    margin-bottom: 3rem ;
}
.navbar{
    background-color: #FFF ;
    box-shadow: 0px 17px 15px -3px rgba(0,0,0,0.1);
    padding: 10px 30px !important;
    transition: 0.3s ease;
}
.navbarScroll{
    background-color: #FFF ;
    box-shadow: 0px 17px 15px -3px rgba(0,0,0,0.1);
    padding: 13px 30px !important;
}


.summaryFixedBanner{
    background-image: url(../assets/Images/summary.jpg);
    min-height: 550px;
    background-attachment: fixed;
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px !important;
}

.summaryBannerOverlay{
    position: absolute;
    min-height: 550px;
    width: 100%;
    background-color: #051b357d;
}
.countNumber{
    font-family: 'Monserrat',sans-serif;
    color: #FFF;
    font-weight: 700;
    font-size: 40px;
}
.countTitle{
    color: #ffd900;
    font-weight: 700;
    font-size: 40px;
    font-family: 'Raleway',sans-serif;   
}
.countSection{
    margin-top: 20% !important;
}
.summaryTitle{
    color: #FFF;
    margin-top: 30px;
}
.projectCard {
    background-color: #FFF !important;
    width: 18em !important;
    margin: 1em;
    border-radius: 0.6em;
    border: none !important;
    box-shadow: 0px 0px 32px 8px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}
.projectCard:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 52px 29px rgba(0,0,0,0.1);
}
.courseImg{
    width: 100%;
}
.viewAll{
    font-family: 'Monserrat',sans-serif;
    color: #051b35;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
}
.videoCard{
    box-shadow: 0px 13px 10px -5px;
    padding: 8rem  3rem;
    background-color: #051b35;
    margin:20px auto;
    border-radius: 5px;
    cursor: pointer;
}
.sliderBack{
    background-color: #051b35;
    min-height: 400px;
}


.reviewMainTitle{
    color: #FFF;
    margin-top: 4rem;
    margin-bottom: 3rem;
    font-family: 'Monserrat',sans-serif;
    font-size: 28px;
    font-weight: 700;
}
.reviewBottomBorder{
    background-color: #FFF ;
    line-height: 23px;
    width: 85px;
    margin: -1.9rem auto 0;
    margin-bottom: 3rem ;
}

.reviewImage{
    width: 200px;
}
.reviewTitle{
    color:#FFF;
    font-size: 24px;
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
}
.reviewDescription{
    color: #FFF;
    font-family: 'Raleway',sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.aboutMeInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.aboutMeDesc{
    font-family:'Raleway',sans-serif;
    font-size: 40px;
    color: #051b35;
    font-weight: 600;
}
.aboutMeName{
    font-family: 'Monserrat',sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: #051b35;
}
.aboutMeImg{
    width: 50%;
    margin: 20px;
}

.footerSection{
    margin-top: 120px !important;
    background-color: #051b35;
    box-shadow: 0 0 8px 0px;
    height: 100%;
    width: 100%;
    color: #FFF;
    text-align: center;
}
.footerName{
    color: #FFF;
    font-family: 'Raleway',sans-serif;
    margin-top: 1rem;

}
.socialContainer{
    margin-top: 30px;   
}
.socialContainer a{
    margin: 0 1rem;
    transition: 0.3s ease;
    display: inline-block;
}
.socialContainer a:hover{
    transform: translateY(-2px);
}
.footerDesc{
    color: #e9e8e8;
    margin-top: 1rem;
    font-family: 'Montserrat',sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.footerLinks{
    text-decoration: none;
    color: #FFF;
    font-family:'Raleway',sans-serif;
    font-weight:400 ;
    font-size: 14px;
    transition: 0.1s ease;
}
.footerLinks:hover{
    text-decoration: none;
    color: rgb(205, 200, 200);
}
.copyrightSection{
    padding-top:50px;
}
.copyrightText{
    font-family: 'Monserrat',sans-serif;
    font-weight: 400;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


@media (max-width:373px){
    .countTitle{
        font-size: 30px;
    }
    .card{
        width: 250px !important;
    }
    .navigationLogo{
        width: 142px;
    }
}


/** About Us */


.topPageBanner{
    background-image: url(../assets/Images/page.png);
    min-height: 350px;
    background-attachment: fixed;
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
}

.topPageOverlay{
    position: absolute;
    min-height: 350px;
    width: 100%;
    background: rgb(0, 0, 0, 0.7);
}
.PageContent{
    margin-top: 10em;
    text-align: center;
    color: #FFF;
}
.topPagetitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 48px;
}

/** Contact Us */

.contactUs{
    margin-top: 150px;
}
.contactTextarea{
    height: 200px;
    max-height: 200px;
    min-height: 100px !important;
}


/** Welcome Design */

.intro-area--top{
    margin-top: -40px;
    position: relative;
    z-index: 2;
}
.section-title{
    margin-bottom: 45px;
    position: relative;
}
.intro-area--inner{
    box-shadow: 0 0 30px rgb(0 0 0 / 7%);
    background-color: #FFF;
    padding: 50px  0 ;
    border-radius: 8px;
    border-radius: 10px;
   
}
.intro-area--inner .sub-title{
    font-weight: 400;
    font-size: 25px;
    font-family:'Raleway',sans-serif;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
}
.intro-area--inner .main-Title{
    font-family: 'Monserrat',sans-serif;
    font-weight: 800;
    color: #051b35;
    font-size: 40px;
}
.Welcome__backgroundImage{
    margin-top: 50px;
}
.Welcome__backgroundImage img{
    width: 200px;
}


.Project__Details{
    margin-top: 50px;
}

.project__imageContainer {
    width: 100%;
    position: relative;
}

.project__imageContainer:after{
    content:'';
    position: absolute;
    right: -10px;
    top: 50%;
    height: 80%;
    width: 154px;
    border-radius: 10px;
    background:#051b35;
    z-index: -1;
    transform: translateY(-50%);

}
.project__imageContainer img{
    width: 100%;
}

.Project__Description{
    text-align: left;
}

.Project__Features ul li , .Description__Full ul li{
	padding: 20px 0 20px 34px;
	list-style: none;
	background-image: url("../assets/svg/confirm.svg");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 25px;
    width: 150px;
}
.Course__Main_title{
    font-weight: 800;
    cursor: pointer;
    transition: 0.4s ease;
}
.Course__Main_title:hover{
    color: #FDC800;
}
.Course__ImageContainer{
    width: 100%;
}
.Course__ImageContainer img{
    width: 100%;
}
.Course__Description{
    max-width: 1000px !important ;
}
.Course__Sidebar{
    border: 1px solid #CBD6E2;
    height: 100%;
}
.Course__Sidebar .Course_Features_Title{
    padding: 17px 20px;
    border-bottom: 1px solid #C7D2E2;
}
.Course__Information_List li{
    list-style: none;
    padding: 10px 20px;
}

.Course__Information_List li span, .Course__Price{
    font-weight: 800;
    font-family: 'Raleway',sans-serif;
    margin-left:7px;
}


.Course__Sidebar_Bottom{
    margin-top: 40px;
    background-color: #F0F4F9;
    padding: 30px 0;
}
.Course__Sidebar_Bottom button{
    margin-top: 10px;
    background-color: #FDC800;
    border: none;
    outline: none;
    color: #000;
    width: 80%;
    height: 50px;
    border-radius: 30px;
    font-family: 'Monserrat',sans-serif;
    font-weight: 600;
    font-size: 15px;
}
.Course__Filter_Container{
    width: 100%;
    justify-content: space-around;
    border: 1px solid black;
    padding: 10px 0;
}
.Course__Description__Bottom .active{
    background-color: #FDC800;
    transition: 0.3s ease;
}
.question{
    margin: 20px 0;
}

.single_review{
    width: 100%;
}
.single_review span{
    width: 40px;
}